body{
    background-image: url(https://i.postimg.cc/LXyHr4BF/robert-zunikoff-jp-WFJxu-FPDs-unsplash-1.jpg)
  }
  
  .wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #D7AB7A;
      color: #1E160D;
    padding: 5px;
    font-family: Poppins, sans-serif;
    font-size: 16px;  
  }
  #home{
    padding: 10px;
    outline-style: double;
    border-radius: 5px;
    text-shadow: ;
    background-color: #d09d62;
    
  }
  
  #title{
    font-family: 'Cinzel Decorative';
    font-size: 4rem;
    margin: 1px 20px;
    
  }
  h3 {
    margin: 1px 50px;
  }
  
  h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 2rem;
    margin: 1px 50px;
  }
  
  nav {
    background-color: #3B2812;
    color: #CA904E;
    padding: 1px;
    margin: 5px;
  }
  
  
  a:link, a:visited {
    background-color: #3B2812;
    color: #CA904E;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #8B5E2A;
  }
  
  ul {list-style-type: square;
  
  }
  
  #complaints {
    border: dashed #1E160D 1px;
    margin: 10px;
    padding: 10px 25px;
    border-radius: 5px;
  }
  
  #bread1 {
    border-radius: 8px;
  }
  .container {
    position: relative;
    width: 100%;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3B2812;
    border-radius: 50px;
  }
  
  .container:hover .overlay {
    opacity: 0.5;
    width: 500px;
    border-radius: 50%;
    
  }
  
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  #about{
    height: 200px;
    width: 60%;
    border: double #1E160D;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    background-image: url('https://i.postimg.cc/YCN6K2Jm/freestocks-JJSIg8xw-Kk-Q-unsplash.jpg');
    overflow: auto;
  }
  
  .highlight{
    background-color:rgb(222, 184, 135, 0.5);
    margin: 3px;
    padding: 10px;
  }
  
  #bread1 {
    width: 500px;
    border-radius: 50%;
  }
  
  flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  #other{
    margin: 10px;
  }
  
  #bread{
    margin: 10px;
    border: double #1E160D;
    border-radius: 5px;
    padding: 5px;
    width: 60%;
    background-image: url('https://i.postimg.cc/T1vHMyfK/ales-krivec-Qn-Nq-Go-Cn-Bg0-unsplash.jpg');
    background-size: cover;
  }
  
  #findus {
    margin: 10px;
  }
  
  #map {
    border: double 5px #1E160D;
    border-radius: 10%;
    
  }